<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <application>
    <activity
      android:name="io.nuxie.sdk.flows.NuxieFlowActivity"
      android:exported="false"
      android:theme="@style/Nuxie.Flow.ActivityTheme"
      android:configChanges="orientation|screenSize|keyboardHidden" />
  </application>
</manifest>
